html {
    font-size: 16px;
}

body {
    color: #383838 !important;
    font-size: 1em !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    font-family: "Roboto","-apple-system","Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

.abbot-logo {
    margin-right: 1em;
}

.abbot-logo svg {
    height: 50px;
}

.abbot-logo span {
    color: #9d9d9d;
    font-family: 'Bungee Hairline',"-apple-system","Segoe UI","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.4em;
    font-weight: 900;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
}

.abbot-logo:hover span {
    color: #fff !important;
}

.tabGroup section[role="tabpanel"][data-tab="tabid-cs"],
.tabGroup section[role="tabpanel"][data-tab="tabid-js"],
.tabGroup section[role="tabpanel"][data-tab="tabid-py"] {
    padding: 0 15px 15px 15px !important;
    margin-bottom: 15px !important;
}

.is-size-7 {
    font-size: .75rem !important;
}
.has-text-grey {
    color: #7a7a7a !important;
}

footer ul.is-horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 24px;
}

footer ul.is-horizontal li {
    margin: 0 1em;
    height: 24px;
    display: list-item;
    font-size: 0.75em;
    line-height: 2em;
}

ul.is-horizontal {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

ul.is-horizontal li {
    list-style-type: none;
}

footer ul.is-horizontal li a,
footer ul.is-horizontal li span {
    vertical-align: middle;
}