name: Deploy Abbot Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy-docs:
    runs-on: ubuntu-latest
    name: Build and deploy Abbot Docs

    steps:
    - name: Checkout aseriousbiz/abbot-docs
      uses: actions/checkout@v2
      with:
        repository: aseriousbiz/abbot-docs
        ref: main
        fetch-depth: 1
        path: abbot-docs

    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.103

    - name: Checkout aseriousbiz/abbot
      uses: actions/checkout@v2
      with:
        repository: aseriousbiz/abbot
        ref: main
        token: ${{ secrets.GH_PAT }}
        fetch-depth: 1
        path: abbot

    - name: Build Abbot.Scripting.Interfaces
      run: dotnet build abbot/src/Abbot.Scripting.Interfaces/Abbot.Scripting.Interfaces.csproj --configuration Release --nologo -o ../_build

    - name: Checkout aseriousbiz/abbot-py-docs
      uses: actions/checkout@v2
      with:
        repository: aseriousbiz/abbot-py-docs
        ref: main
        token: ${{ secrets.GH_PAT }}
        fetch-depth: 1
        path: abbot-py-docs

    - name: Copy Python Docs
      run: cp -R abbot-py-docs/_build/html/docfx_yaml/ abbot-docs/src/reference/python

    - uses: nikeee/docfx-action@v1.0.0
      name: Build Documentation
      with:
        args: abbot-docs/src/docfx.json

    - name: Prettify URLs
      run: sudo sed -i 's/\/index\.html//g' abbot-docs/_site/**/*.html && rm -rf abbot-docs/_site/**/*.bak

    # Publish generated site using GitHub Pages
    - uses: maxheld83/ghpages@master
      name: Publish Documentation on GitHub Pages
      env:
        BUILD_DIR: abbot-docs/_site # docfx's default output directory is _site
        GH_PAT: ${{ secrets.GH_PAT }} # See https://github.com/maxheld83/ghpages
      if: github.event_name != 'pull_request'